APP_NAME="ZAS Sales Recorder"
APP_URL="https://pos.thqlinen.com"
APP_TIMEZONE="Asia/Karachi"
APP_ENV="production"

DB_HOST="127.0.0.1"
DB_PORT="3306"
DB_NAME="PASTE_CLOUDWAYS_DATABASE_NAME"
DB_USER="PASTE_CLOUDWAYS_DATABASE_USERNAME"
DB_PASS="PASTE_CLOUDWAYS_DATABASE_PASSWORD"
